[defaults]
inventory = inventories/home/hosts.yml
remote_user = ansible
private_key_file = ~/.ssh/id_ed25519_pve_admin
roles_path = roles
host_key_checking = False
interpreter_python = auto_silent

[privilege_escalation]
become = True
become_method = sudo
